{
  "bracketSpacing": true,
  "printWidth": 80,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["classnames", "classNames", "cva", "twMerge", "twJoin"],
  "tailwindConfig": "./packages/ui/tailwind.config.ts"
}
